.app-bg {
  background-color: rgba(193, 201, 203, 0.4);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/564x/be/d5/3f/bed53fd75ca5576a4ecbbe1a5751af2d.jpg'),
    url('https://i.pinimg.com/564x/d2/59/fd/d259fdbe24ff1c272542f2cfc1d4ffaa.jpg'),
    url('https://i.pinimg.com/originals/bb/23/d8/bb23d88cd3b843bec76c516a9a3c5159.jpg'),
    url('https://i.pinimg.com/originals/a6/15/3a/a6153a88e48bd0c8a432eec1fae41c1b.jpg'),
    url('https://i.pinimg.com/originals/64/48/11/644811fbae6c3c628f1e11c8a1d36f4d.jpg'),
    url('https://i.pinimg.com/564x/16/a5/22/16a52234b2910b5e1ab99f93a9da4134.jpg'),
    url('https://i.pinimg.com/originals/e5/e1/5a/e5e15a23100f0eed7508f7f8cbcb1d0b.jpg'),
    url('https://i.pinimg.com/564x/d1/a2/7e/d1a27ea79f921db7506633cc92af303f.jpg'),
    url('https://i.pinimg.com/564x/07/4b/82/074b82d26ccaa8e43716c495d261b2c2.jpg'),
    url('https://i.pinimg.com/originals/da/c0/eb/dac0ebdf703d293b718d517e809d49fd.jpg'),
    url('https://i.pinimg.com/736x/30/9e/ea/309eea31d05bb816c2748b93bd45a655.jpg'),
    url('https://i.pinimg.com/564x/fe/cf/4d/fecf4d6732c5d3142ddeb384c1e7cd59.jpg'),
    url('https://i.pinimg.com/564x/c4/2b/be/c42bbed50606265f6cd80ce35e417488.jpg'),
    url('https://i.pinimg.com/564x/84/61/7a/84617a39c614c55e3444c79cc6ffdd32.jpg'),
    url('https://i.pinimg.com/564x/92/54/57/925457538c4f1e71c3d4c363260e17bf.jpg'),
    url('https://i.pinimg.com/564x/ad/b6/96/adb69600fedb30c8f6548438da958ef5.jpg'),
    url('https://i.pinimg.com/564x/cf/18/11/cf181121ee30556273ba09743ca9efa8.jpg'),
    url('https://i.pinimg.com/564x/ca/71/5e/ca715eff8a5d179137f49a5f83714c8f.jpg');
}

.bg-filter {
  background-image: var(--background-filter-color);
  background-position: 0 0;
  background-size: 100%;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  display: none;
}
