<div class="wrapper app-bg">
  <div class="auth-session">
    <h2 class="auth__header mb-3">Create user name</h2>
    <div class="mb-3">
      <label for="username" class="form-label">User name:</label>
      <input type="text" class="form-control" id="userName" name="userName" placeholder="Type your username" />
    </div>
    <button type="button" class="btn btn-primary btn-submit mt-2" data-id="{{idUser}}">Next</button>
  </div>

  <script src="/JS/createUsername.js"></script>
</div>