<div class="wrapper app-bg">
  <div>
    <div class="home__header">
      <span>N</span>
      <span>O</span>
      <span>T</span>
      <span>E</span>
      <span>S</span>
    </div>

    <div class="redirect-part">
      <a class="btn" href="/login" role="button">Login</a>
      <a class="btn" href="/signup" role="button">Signup</a>
    </div>
  </div>
  <script src="/JS/home.js"></script>
</div>